<article class="{{ page.type }} row {% if page.single == true %}single{% endif %}">
	<header>
		{% case page.type %}
			{% when "generic" %}
				{{ page.generic.header }}
			{% when "text" %}
				{% if page.text.title %}
					<h2 class="instapaper_title"><a href="{{ root_url }}{{ page.url }}">{{ page.text.title }}</a></h2>
				{% endif %}
			{% when "photo" %}
				<p><a href="{{ page.photo.url }}"><img src="{{ page.photo.url }}" /></a></p>
			{% when "quote" %}
				<blockquote>
					{{ page.quote.quote | markdownify }}
					<cite>{{ page.quote.source | markdownify }}</cite>
				</blockquote>
			{% when "link" %}
				<h2 class="instapaper_title"><a href="{{ page.link.url }}">{{ page.link.title }}</a></h2>
			{% when "audio" %}
				<p><audio src="{{ page.audio.url }}"></audio></p>
			{% when "video" %}
				<p>{{ page.video.embed }}</p>
			{% else %}
				<p>Unknown article type.</p>
		{% endcase %}
	</header>
	<section class="instapaper_body">
		{{ content }}
		
		{% if page.source.url %}
			<p class="source">via <a href="{{ page.source.url }}">{{ page.source.title }}</a></p>
		{% endif %}
	</section>
	<footer>
		<p>{% include post/date.html %}{{ time }}</p>
		{% if page.single == true %}
			{% include post/livefyre.html %}
		{% endif %}
	</footer>
</article>
